.group__box-shadow {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.5s cubic-bezier(0,0,.44,1.18);
  }

.group__box-shadow:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .h4-size {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .ymaps-2-1-79-map {
    width: 100%;
    height: 300px !important;
    .ymaps-2-1-79-inner-panes {
      width: 100%;
      height: 100%;
    }
    .ymaps-2-1-79-events-pane {
      width: 100%;
      height: 100%;
    }
  }
