.accordion-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.accordion-content.open {
  max-height: 500px;
  opacity: 1;
}

.accordion-content.animation-nav {
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.accordion-content.animation-nav.open {
  max-height: fit-content;
  opacity: 1;
}

.rotate-icon {
  transition: transform 0.3s ease;
}

.rotate-icon.open {
  transform: rotate(-180deg);
}
