.menu-mobile-side-drawer {
    height: 100vh;
    width: 50vw;
  }
  
  .menu-mobile-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }