.slider-show-img-smoth {
    transition: 0.3s;
    animation: smoth-show-img 0.3s ease-in-out;
}


.card-item, .similar-products, .swiper-home, .swiper-fullscreen {
  .swiper-button-prev, .swiper-button-next {
    background: linear-gradient(145deg, #6e6e6e, #8b8b8b);
    border-radius: 50%;
    border: 1px solid gray;
    width: 40px;
    height: 40px;
    color: white;
    transition: all 0.3s ease;

    &::after {
      font-size: 20px;
      transition: transform 0.3s ease;
    }

    &:hover {
      background: linear-gradient(145deg, #8b8b8b, #6e6e6e);
      transform: scale(1.1);
    }

    &:active {
      background: linear-gradient(145deg, #5c5c5c, #7a7a7a);
      transform: scale(0.95);
    }
  }

  .swiper-button-prev::after, .swiper-button-next::after {
    transition: transform 0.3s ease;
  }

  .swiper-button-prev:hover::after, .swiper-button-next:hover::after {
    transform: translateX(-2px);
  }

  .swiper-button-next:hover::after {
    transform: translateX(2px);
  }
}


// .swiper-card {
//   width: 300px;
// }
  

.thumbs-slider {
  width: 100%;
  .swiper-wrapper {
    height: fit-content;
    max-height: 336px;
    min-height: 320px;
    width: 100%;
    .swiper-slide-thumb-active {
      opacity: 0.5;
    }
  }

  .swiper-thumb-next {
    left: 0;
  }

  .swiper-slide {
    width: 100%;
    height: 112px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.main-slider {
  width: 100%;
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.swiper-fullscreen {
  // width: 100vh;
  // height: 100vh;
  button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }
}



  
@keyframes smoth-show-img {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 768px) {
  .main-slider {
    margin-bottom: 20px;
    .swiper-wrapper {
      max-height: 400px;
      .swiper-slide {
        max-height: 400px;
        height: 100%;
        img {
          width: auto;
          max-height: 400px !important;
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .main-slider {
    margin-bottom: 20px;
    .swiper-wrapper {
      max-height: 300px;
    }
  }
}